.mar{
    margin-left: 40%;
}

#result span {
    background-color: yellow;
}

.mdiv {
    background-color: white;
    border-radius: 25px;
}

body {
    font-weight: 500;
    background-color: black;
}
